body{
    background-color:#282828;
}
h1{
    color:aliceblue;
    text-align:center;
}
.btn-dark
{
    background-color: #282828;
    color: turquoise;
    border: 1px solid turquoise;
    margin-right:10px;
}
.sorting 
{
    float : right;
}
.btn-1
{
    background-color: #282828;
    color: cyan;
    border: 1px solid cyan;
    margin-left: 20;
}
.btn:hover{
    color:aquamarine;
    border: 1px solid aquamarine;
}
.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}
.flex-item{
    background: cyan;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}
#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}
span{
    color: aqua;
}